build/
*.ipr
run/
run-client-test/
run-client-test-*/
run-prod-client-test/
run-prod-client-test-*/
run-server-test/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.settings

.architectury-transformer/
*.class
